.container {
  max-width: 1000px;
  margin: 0 auto;
}
.logo {
  padding-top: 5px;
  max-width: 50px;
}

body {
  font-family: 'NanumSquare', sans-serif;
}
.portfolioBgGrey {
  background: #f4f5f7;
}
.j-bg-grey {
  background: #f4f5f7;
}
